# --- .NET / C# ---
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json # Secretları repoya atma!

# --- Node.js / Expo ---
node_modules/
npm-debug.log
yarn-error.log
.expo/
dist/
web-build/
.env                 # Expo env dosyaları
.env.local

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Supabase / Docker ---
.dbeaver/