version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: subify_mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Subify_Strong_Pass123! # Güçlü şifre zorunlu!
    ports:
      - "1433:1433"
    volumes:
      - mssqldata:/var/opt/mssql

volumes:
  mssqldata: